---
import Anchor from "./Anchor.astro";
---
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <Anchor href="/" title="Home" target="_SELF" rel="" className="nav-link" />
        </li>
        <li class="nav-item"><Anchor href="/about" title="About" target="_SELF" rel="" className="nav-link" /></li>
        <li class="nav-item"><Anchor href="/blog" title="Blog" target="_SELF" rel="" className="nav-link" /></li>
    </ul>
</header>
